.full-width {
  width: 100%;
  margin-bottom: 10px;
}

.save-btn {
  background: #f09819;
  color: white !important;
  border-radius: 25px !important;
  padding: 8px 25px !important;
  font-weight: 500;
}

.cancel-btn {
  border: 1px solid #f09819;
  border-radius: 25px !important;
  color: #f09819;
  background-color: white;
  height: 3rem;
}

h2 {
  text-align: center;
}
