html,
body {
  height: 100%;
  background-color: #f7f7f7;
  margin: 0;
  font-family: "Rubik", sans-serif;
}

// horizontal and vertical scrollbar styling
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  z-index: 100;
}

::-webkit-scrollbar-track {
  background-color: white;
  z-index: 100;
}

::-webkit-scrollbar-thumb {
  background-color: lightgrey;
  z-index: 100;
}

::-webkit-scrollbar-thumb:hover {
  background-color: grey;
  z-index: 100;
}

// checkbox styling

.mat-checkbox-frame {
  border-color: lightgray;
}

.mat-checkbox-checked.mat-accent {
  .mat-checkbox-ripple .mat-ripple-element {
    background-color: #da7d3f !important;
  }

  .mat-checkbox-background,
  .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #da7d3f;
  }
}

.mat-checkbox.mat-accent {
  .mat-checkbox-ripple .mat-ripple-element {
    background-color: #da7d3f !important;
  }
}

.mat-button-focus-overlay {
  background-color: transparent !important;
}

*:focus {
  outline: 0 !important;
}

// snackbar styling
.mat-snack-bar-container {
  // width: 450px;
  width: fit-content;
  height: 50px;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: 7px !important;
  // margin: 120px 24px 24px 24px !important;
}

.mat-simple-snackbar-action button {
  // font-weight: bold;
  color: black;
}

.success-snackbar {
  background-color: #2e7d32 !important;
  color: #ffffff !important;
  font-size: 15px;
  font-weight: 500;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  animation: slideIn 0.3s ease-out;
}

.error-snackbar {
  background-color: #f9edbe;
  border: 1px solid #f0c36d;
  color: black;
  font-size: 15px;
  font-weight: 500;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  animation: slideIn 0.3s ease-out;
}

.unknown-error-snackbar {
  background-color: #f9edbe;
  border: 1px solid #f0c36d;
  color: black;
  font-size: 15px;
  font-weight: 500;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  animation: slideIn 0.3s ease-out;
}

/* Slide-in animation */
@keyframes slideIn {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
