<div class="stars">
  <div class="mars"></div>
  <img src="{{ pageNotFoundConstants.logoSrc404 }}" class="logo-404" />
  <p class="title">{{ pageNotFoundConstants.headerTxt }}</p>
  <p class="subtitle">
    {{ pageNotFoundConstants.messageLine1 }} <br />
    {{ pageNotFoundConstants.messageLine2 }}
  </p>
  <div align="center">
    <a class="btn-back" href="http://localhost:4200/fivd/users">{{
      pageNotFoundConstants.buttonTxt
    }}</a>
  </div>
  <img src="{{ pageNotFoundConstants.astronautSrc }}" class="astronaut" />
  <img src="{{ pageNotFoundConstants.spaceshipSrc }}" class="spaceship" />
</div>
